Ny bil

<form action="/cars" method="post">

  Märke
  <select name="typ">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
<br>
  Takräcke
  <select name="automat">
    <option value="true" selected>Ja</option>
    <option value="false">Nej</option>
  </select>
<br>
  Takräcke
  <select name="rail">
    <option value="true" selected>Ja</option>
    <option value="false">Nej</option>
  </select>
<br>
  <input type="text" name="price" placeholder="price"><br>
<br>
  Bokad
  <select name="booked">
    <option value="true">Ja</option>
    <option value="false" selected>Nej</option>
  </select>
<br>
  <input type="submit" value="Submit">
</form>
