<form action="/user" method="post">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="text" name="firstname" placeholder="First name"><br>
    <input type="text" name="lastname" placeholder="Last name"><br>
    <input type="submit" value="Signup">
</form>
<p>Already have an accound? Please <a href="/login">Login</a></p>