.form_table form {
  margin: 0;
}

.form_table input,select,button {
  height: 2em;
  min-width: 6em;
  width: 100%;
}

.form_table th {
  text-align: left;
}

form.green {
  background: rgba(81, 189, 81, 0.26); /* green */
}

form.red {
  background: rgba(255, 0, 0, 0.16); /* red */
}




.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px;
  width: 6em;
}
.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
